# Flutter / Dart
.dart_tool/
.packages
.pub/
build/

# Android
android/.gradle/
android/app/build/

# iOS / macOS
ios/Flutter/ephemeral/
macos/Flutter/ephemeral/

# Windows
windows/flutter/ephemeral/

# IDE
.idea/
.vscode/

# Misc
*.log
*.tmp
struc1.txt
.gitignore
istart_app_lib_tree.txt
full-tree.txt
clean-tree.txt
istart_app/.flutter-plugins-dependencies
